.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Products {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px; 
  justify-content: center; 
  margin: 0px 50px 0px 0px;
}

.Prod-item {
    border-radius: 10px;
    border : 2px solid rgb(127, 127, 127);
    width: 200px;
    display: inline;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

