.border {
	background-color: #de98a8;
	list-style-position: inside;
	padding: 10px;
	margin-left: 10px;
}


.item {
	margin-bottom: 10px;
	background-color: #b66774;
	padding: 10px;
	color: white;
	font-family: 'Times New Roman', Times, serif
}

.item span {
	background-color: #8d3340;
	padding: 10px;
}