.text {
  font-size: 18px;
  text-align: justify;
  margin: 15px;
}

.code-view {
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.code-view code {
  white-space: pre;
}

.red-text {
  color: red;
}

.black-text {
  color: black;
}

.tags-container {
  display: flex;
  list-style-type: none;


}

.tags {
  margin: 5px;
  color: #3382d5;
  background: #f4f4f4;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
}
